<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33297316652-fk463snja9alfc7p5m4ipabffo69uppj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33297316652-fk463snja9alfc7p5m4ipabffo69uppj</string>
	<key>API_KEY</key>
	<string>AIzaSyApK2yuRVp-s2RnIpGHBhEF8SpPmWmjJWY</string>
	<key>GCM_SENDER_ID</key>
	<string>33297316652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JohnSolano.LifeCycle</string>
	<key>PROJECT_ID</key>
	<string>lifecycle-28abf</string>
	<key>STORAGE_BUCKET</key>
	<string>lifecycle-28abf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33297316652:ios:570ced6b62c702af44ca89</string>
	<key>DATABASE_URL</key>
	<string>https://lifecycle-28abf.firebaseio.com</string>
</dict>
</plist>